<header>
      <nav class="navbar bg-body-tertiary">
        <form class="container-fluid justify-content-start">
          <button class="btn btn-outline-success me-2" type="button">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </button>
          <button class="btn btn-sm btn-outline-secondary" type="button">
            <a class="nav-link" href="/lista">JSON Data</a>
          </button>
          <button class="btn btn-sm btn-outline-secondary" type="button">
            <a class="nav-link" href="/localizacoes">Localizações</a>
          </button>
          <button class="btn btn-sm btn-outline-secondary" type="button">
            <a class="nav-link" href="/episodios">Episódios</a>
          </button>
        </form>
      </nav>
</header>